@import "tailwindcss";
@keyframes focus-zoom {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.9s ease-out forwards;
}

.animate-slide-in-right {
  animation: slideInRight 0.9s ease-out forwards;
}

.animate-slide-in-up {
  animation: slideInUp 0.9s ease-out forwards;
}


.animate-focus {
  animation: focus-zoom 2.5s ease-in-out;
}


.group:hover .auto-zoom {
  animation-play-state: paused;
}
